body {
  font-size: 16px;
  font-family: sans-serif;
  color: #363636;
}

li {
  list-style-type: none;
}

.btn-m {
  display: inline-block;
  text-transform: uppercase;
  background: #ffba00;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  padding: 12px 22px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 10px -3px rgba(5, 5, 5, 0.4);
          box-shadow: 0px 0px 10px -3px rgba(5, 5, 5, 0.4);
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-m:hover {
  text-decoration: none;
  color: #fff;
  background: #ffe500;
}

.flaticon-play-button::before {
  font-size: 12px;
  padding-right: 5px;
  color: #00a3d8;
}

.top__bar .logo {
  display: block;
  margin-bottom: 25px;
}

.top__bar .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__bar .center p {
  margin: 0;
}

.top__bar .contacts {
  font-weight: 700;
  font-size: 1.2rem;
}

.top__bar .contacts p {
  margin: 0;
}

.center-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.menu {
  background: #00a3d8;
}

.menu ul .nav-item .nav-link {
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 2px;
}

.menu ul .nav-item .nav-link:hover {
  text-decoration: none;
  color: #e4f1f2;
  border-bottom: 2px solid #e4f1f2;
  margin-bottom: 0;
}

.block__main {
  background-image: url(/images/bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  padding: 9rem 0;
}

.block__main h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.block__main p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.block__main .icon-bar {
  position: absolute;
  right: 0;
}

.block__main .icon-bar a {
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

.block__main .icon-bar a:hover {
  text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.6), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

.block__main .icon-bar i::before {
  font-size: 3rem;
}

.block__main .icon-bar li {
  list-style-type: none;
}

.block__title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 3rem 0;
}

.block__title span {
  color: #00a3d8;
}

.quoet__item {
  background: #ffba00;
  color: #fff;
  font-size: 1.1em;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4), 0px -5px 35px rgba(255, 255, 255, 0.3);
  border-radius: .2rem;
  padding: 2rem;
}

.text__about-us {
  line-height: 1.2;
}

.price__item {
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  margin-bottom: 4rem;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.36);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.36);
  -webkit-transition: .2s;
  transition: .2s;
}

.price__item:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.price__item img {
  display: block;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.price__item h3 {
  text-transform: uppercase;
  padding-top: 1rem;
  font-weight: 700;
}

.price__item p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #a50000;
}

.price__item li {
  list-style-type: none;
  font-size: 1.1rem;
}

.block__about-us .youtube {
  display: block;
  margin: 0 auto;
}

.block__about-us img {
  width: 100%;
  margin: 0;
  padding-bottom: 1rem;
}

.block__recall {
  background-image: url(/images/bg-recall.webp);
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 0;
  text-align: center;
}

.block__recall h3 {
  font-size: 2.5rem;
}

.block__recall p {
  font-size: 1.5rem;
  max-width: 700px;
  margin: 0 auto;
}

.block__recall h4 {
  margin-top: 1rem;
  font-size: 2rem;
}

.cntr {
  margin: 1rem auto;
}

.block__advantages .row {
  padding: 3rem 0;
}

.block__advantages .adv-item {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.block__advantages .adv-item i {
  font-size: 70px;
  border: 2px solid #00a3d8;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px -3px rgba(5, 5, 5, 0.4);
          box-shadow: 0px 0px 10px -3px rgba(5, 5, 5, 0.4);
  color: #ffba00;
}

.block__advantages .adv-item i:hover {
  -webkit-box-shadow: 0px 0px 20px -3px rgba(5, 5, 5, 0.7);
          box-shadow: 0px 0px 20px -3px rgba(5, 5, 5, 0.7);
}

.block__advantages .adv-item i::before {
  margin: 15px;
}

.block__advantages .adv-item p {
  max-width: 300px;
  margin: 0 auto;
}

.block__advantages .adv-item a {
  color: #363636;
}

.block__advantages .adv-item a:hover {
  text-decoration: none;
}

.block__studios {
  background-image: url(/images/bg-stydii.webp);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 3rem 0;
}

.block__studios h3 {
  font-size: 3rem;
}

.block__studios .description {
  font-size: 2rem;
}

.block__studios img {
  border-radius: 10px;
  width: 100%;
}

.block__studios .row a {
  color: #363636;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
}

.block__studios .row a:hover {
  color: #363636;
  text-decoration: none;
}

.block__studios .row {
  padding: 3rem 0;
}

.cheked__item {
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 10px -3px rgba(5, 5, 5, 0.4);
          box-shadow: 0px 0px 10px -3px rgba(5, 5, 5, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cheked__item svg {
  fill: #ffba00;
  margin-left: 5px;
}

.cheked__item .cstm {
  fill: #00a3d8;
}

.block__our-team {
  text-align: center;
  padding: 4rem 0;
}

.block__our-team .row {
  padding-bottom: 4rem;
}

.block__our-team img {
  display: block;
  width: 90%;
}

.block__our-team .card-body {
  position: relative;
}

.block__our-team .team_item {
  border: none;
  height: 500px;
  max-width: 200px;
}

.block__our-team .team_item img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.block__our-team .team_item .btn-m {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
}

.block__reviews {
  margin-bottom: 4rem;
}

.reviews__item {
  display: block;
  margin: 2rem auto;
  max-width: 800px;
  height: 450px;
}

.reviews__item p {
  background: #efefef;
  padding: 2rem;
  font-style: italic;
  font-weight: 400;
  font-size: 1.1rem;
}

.reviews__item .reviews__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 0;
  padding-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.reviews__item .reviews__author span {
  margin-left: 1rem;
  line-height: 1;
}

.reviews__item .reviews__author img {
  width: 80px;
}

.dark {
  background-color: #000 !important;
}

.carousel-style {
  -webkit-box-shadow: 0px 0px 10px -3px rgba(5, 5, 5, 0.4);
          box-shadow: 0px 0px 10px -3px rgba(5, 5, 5, 0.4);
  border-radius: 2rem;
}

.block__trial-lesson {
  background-image: url(/images/bg-test.webp);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 4rem 0;
}

.block__trial-lesson p {
  font-size: 1.2rem;
  padding: 2rem 0;
}

.block__instagram {
  text-align: center;
  padding: 3rem 0;
}

.block__contacts {
  background-image: url(/images/bg-contacts.webp);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 3rem;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

.block__contacts img {
  width: 100%;
}

.block__contacts h4 i {
  color: #00a3d8;
}

.block__contacts h5 {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0;
}

.block__contacts .contacts-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.block__contacts .contacts-social a {
  color: #015e7e;
  text-decoration: none;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

.block__contacts .contacts-social a:hover {
  text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.6), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

.block__contacts .contacts-social i::before {
  font-size: 3rem;
  margin: 0;
}

.block__contacts .contacts-social li {
  list-style-type: none;
  margin: 0 5px;
}

.footer {
  padding: 1rem 0;
  background: #000;
  color: #fff;
}

.footer li {
  list-style-type: none;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  text-decoration: none;
  color: #eee;
}

.footer .copyright {
  text-align: center;
}

/* media */
@media (max-width: 576px) {
  .btn-m {
    margin: 1rem 0;
  }
  .adv-item {
    margin: 1rem 0;
  }
  .team_item {
    height: 550px !important;
  }
  .block__trial-lesson {
    padding: 2rem 0;
  }
  .block__trial-lesson p {
    font-size: 1rem;
    padding: 1rem 0;
  }
  .block__trial-lesson .subtitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .reviews__item {
    height: 500%;
  }
}

@media (max-width: 992px) {
  .logo {
    margin: 0 auto;
  }
  #slider1 {
    margin-bottom: 1rem;
  }
  .team_item {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .block__recall h4 {
    font-size: 1.3rem;
  }
  .block__recall h3 {
    font-size: 1.8rem;
  }
  .block__recall p {
    font-size: 1rem;
  }
}

@media (max-width: 1199px) {
  .contacts p {
    font-size: 1.1rem;
  }
  .btn-m {
    font-size: 0.8rem;
  }
  .quote {
    padding-left: 10px;
  }
}
/*# sourceMappingURL=style.css.map */