$blue: #00a3d8;
$orange: #ffba00;

body {
    font-size: 16px;
    font-family: sans-serif;
    color: #363636;
}

li {
    list-style-type: none;
}

.btn-m {
    display: inline-block;
    text-transform: uppercase;
    background: $orange;
    text-decoration: none;
    color:#fff;
    font-weight: 700;
    padding: 12px 22px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px -3px rgba(5, 5, 5, 0.40);
    transition: .3s;
    &:hover {
        text-decoration: none;
        color: #fff;
        background: #ffe500;
    }
}

.flaticon-play-button::before {
    font-size: 12px;
    padding-right: 5px;
    color: $blue;
}

.top__bar {
    .logo {
        display: block;
        margin-bottom: 25px;
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            margin: 0;
        }
    }



    .contacts {
        font-weight: 700;
        font-size: 1.2rem;
        p {
            margin: 0;
        }
    }
}

.center-nav {
    display: flex;
    justify-content: center;
    margin: auto;
}

.menu   {
    background: $blue;
    
    ul {
        .nav-item {
            
            .nav-link {
                color: #fff;
                font-weight: 500;
                font-size: 1.1rem;
                
                margin-bottom: 2px;
                &:hover {
                    text-decoration: none;
                    color: #e4f1f2;
                    border-bottom: 2px solid #e4f1f2;
                    margin-bottom: 0;
                }
            }
        }

    }
}

.block__main{
    background-image: url(/images/bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    padding: 9rem 0;
    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .icon-bar {
        position: absolute;
        right: 0;
        
        a {
            color: #fff;
            text-decoration: none;
            text-shadow: 2px 3px 4px rgba(0,0,0,0.4), 0px -5px 35px rgba(255,255,255,0.3);
            &:hover {
                text-shadow: 2px 3px 10px rgba(0,0,0,0.6), 0px -5px 35px rgba(255,255,255,0.3);
            }
        }
        i::before {
            font-size: 3rem;
        }
        li {
            list-style-type: none;
        }
    }
}

.block__title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 3rem 0;
    span {
        color: $blue;
    }
}

.quoet__item {
    background: $orange;
    color: #fff;
    font-size: 1.1em;
    text-shadow: 2px 3px 4px rgba(0,0,0,0.4), 0px -5px 35px rgba(255,255,255,0.3);
    border-radius: .2rem;
    padding: 2rem;
}

.text__about-us {
    line-height: 1.2;
}

.price__item {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 4rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.36);
    transition: .2s;
    &:hover {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);  
    }
    img {
        display: block;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }

    h3 {
        text-transform: uppercase;
        padding-top: 1rem;
        font-weight: 700;
    }
    p {
        font-size: 1.2rem;
        font-weight: 700;
        color: #a50000;
    }
    li {
        list-style-type: none;
        font-size: 1.1rem;
    }
}

.block__about-us {
    .youtube {
        display: block;
        margin: 0 auto;
    }
    img {
        width: 100%;
        margin: 0;
        padding-bottom: 1rem;
    }
}

.block__recall {
    background-image: url(/images/bg-recall.webp);
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 0;
    text-align: center;
    h3 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.5rem;
        max-width: 700px;
        margin: 0 auto;
    }
    h4 {
        margin-top: 1rem;
        font-size: 2rem;
    }
    
}
.cntr {
    margin: 1rem auto;
}

.block__advantages {
    .row {
        padding: 3rem 0;
    }
    .adv-item {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        i {
            font-size: 70px;
            border: 2px solid $blue;
            border-radius: 10px;
            box-shadow: 0px 0px 10px -3px rgba(5, 5, 5, 0.40);
            color: $orange;
            &:hover {
                box-shadow: 0px 0px 20px -3px rgba(5, 5, 5, 0.70);
            }
            &::before {
                margin: 15px;
            }
        }
        p {
            max-width: 300px;
            margin: 0 auto;
        }
        a {
            color: #363636;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.block__studios {
    background-image: url(/images/bg-stydii.webp);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 3rem 0;
    h3 {
        font-size: 3rem;
    }
    .description{
        font-size: 2rem;
    }
        img {
            border-radius: 10px;
            width: 100%;
        }
    .row a {
        color: #363636;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.1rem;
    &:hover {
        color: #363636;
        text-decoration: none;
    }
    }
    
    .row {
        padding: 3rem 0;
    }
}

.cheked__item {
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px -3px rgba(5, 5, 5, 0.40);
    display: flex;
    align-items: center;
    svg {
        fill: $orange;
        margin-left: 5px;
    }
    .cstm {
        fill: $blue;
    }

}

.block__our-team {
    text-align: center;
    padding: 4rem 0;
    .row {
        padding-bottom: 4rem;
    }
    img {
        display: block;
        width: 90%;
    }
    .card-body {
        position: relative;
    }
    .team_item {
        border: none;
        height: 500px;
        max-width: 200px;
        img {
            display: block;
            width: 100%;
            margin: 0 auto;
            
        }
        .btn-m {
            position: absolute;
            bottom: 0;
            width: 100%;
            right: 0;


        }
    }
}

.block__reviews {
    margin-bottom: 4rem;
}

.reviews__item {
    display: block;
    margin: 2rem auto;
    max-width: 800px;
    height: 450px;
    p {
        background: #efefef;
        padding: 2rem;
        font-style: italic;
        font-weight: 400;
        font-size: 1.1rem;
    }
    .reviews__author {
        display: flex;
        line-height: 0;
        padding-top: 1rem;
        align-items: center;
        margin: 1rem;
        span {
            margin-left: 1rem;
        }
        img {
            width: 80px;
        }
    }
    
}

.dark {
    background-color: #000 !important
}

.carousel-style {
    box-shadow: 0px 0px 10px -3px rgba(5, 5, 5, 0.40);
    border-radius: 2rem;
}

.block__trial-lesson {
    background-image: url(/images/bg-test.webp);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 4rem 0;
    p {
        font-size: 1.2rem;
        padding: 2rem 0;
    }
}

.block__instagram {
    text-align: center;
    padding: 3rem 0;
}

.block__contacts {
    background-image: url(/images/bg-contacts.webp);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 3rem;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
    img {
        width: 100%;
    }
    h4 i {
        color: $blue;
        
    }
    h5 {
        text-align: center;
        font-size: 2rem;
        padding: 2rem 0;
    }

    .contacts-social {
        display: flex;
        justify-content: center;
        padding: 0;
        a {
            color: #015e7e;
            text-decoration: none;
            text-shadow: 2px 3px 4px rgba(0,0,0,0.4), 0px -5px 35px rgba(255,255,255,0.3);
            &:hover {
                text-shadow: 2px 3px 10px rgba(0,0,0,0.6), 0px -5px 35px rgba(255,255,255,0.3);
            }
        }
        i::before {
            font-size: 3rem;
            margin: 0;
        }
        li {
            list-style-type: none;
            margin: 0 5px;
        }
    }
}

.footer {
    padding: 1rem 0;
    background: #000;
    color: #fff;
    li {
        list-style-type: none;
    }
    a {
        color: #fff;
        &:hover {
            text-decoration: none;
            color: #eee;
        }
    }
    .copyright {
        text-align: center;
    }

}

/* media */

// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 576px) {
    .btn-m {
        margin: 1rem 0;
    }
    .adv-item {
        margin: 1rem 0;
    }
    .team_item {
        height: 550px !important;
    }
    .block__trial-lesson {
        padding: 2rem 0;
        p {
            font-size: 1rem;
            padding: 1rem 0;
        }
        .subtitle {
            font-size: 1.5rem;
        }
    }
 }

// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 768px) {
    .reviews__item {
        height: 500%;
    }

 }

// Средние девайсы («таблетки», < 992px) 
@media (max-width: 992px) {
    .logo {
     margin: 0 auto;
    }
    #slider1 {
        margin-bottom: 1rem;
    }
    .team_item {
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .block__recall {
        h4 {
            font-size: 1.3rem;
        }
        h3 {
            font-size: 1.8rem;
        }
        p {
            font-size: 1rem;
        }
    }
 }

// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199px) {
    .contacts p {
        font-size: 1.1rem;
    }
    .btn-m {
        font-size: 0.8rem;
    }
    .quote {
        padding-left: 10px;
    }
 }